@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #0d192b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  background-color: #14253d;
  width: 375px;
  padding: 20px;
  margin-bottom: 20px;
}

.img-container {
  position: relative;
  width: 360px;
  max-width: 100%;
  display: flex;
}

.img-container img.coinimg {
  width: 340px;
  border-radius: 10px;
}

.img-container img.hoverimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.img-container:hover img.hoverimg {
  opacity: 1;
}

.img-container .overlay {
  content: "";
  position: absolute;
  width: 340px;
  height: 100%;
  background: #00fff7;
  border-radius: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.img-container:hover .overlay {
  opacity: 0.5;
  object-fit: cover;
}

.content h1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}

.content p {
  color: #8bacda;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.priceinfo {
  display: flex;
  justify-content: space-between;
}

.priceinfo .price,
.priceinfo .days {
  display: flex;
  align-items: center;
}

#price {
  color: #00fff7;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

#days {
  color: #8bacda;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

.userinfo {
  display: flex;
  align-items: center;
  border-top: 0.5px solid #8bacda;
  margin-top: 20px;
  padding-top: 20px;
}

.userinfo img {
  width: 35px;
  height: 35px;
  border: 1px solid #8bacda;
  border-radius: 50%;
}

.userinfo .user-name {
  color: #8bacda;
  margin-left: 5px;
  font-weight: 300;
}

.userinfo .user-name span {
  font-weight: 600;
}

.userinfo .user-name span:hover,
.content h1:hover {
  color: #00fff7;
  cursor: pointer;
}
